* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Segoe UI", sans-serif;
  background-color: #000000;
  color: #ffffff;
}
.hidden {
  display: none;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #000000;
  border-bottom: 1px solid #1e293b;
  height: 60px;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.logo {
  width: 150px;
  height: 150px;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.date-box {
  background: #1a1a1a;
  padding: 0.4rem 1rem;
  border-radius: 45px;
  font-size: 0.9rem;
}

.menu-btn {
  padding: 1.3em 3em;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #fbfafa;
  background-color: #000000;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.menu-btn:hover {
  background-color: #122512;
  color: #fff;
  transform: translateY(-7px);
}

.profile-pic {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: white;
}

/* Stats Section */
.stats-row {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  padding: 1rem;
  width: 80vw;
  margin: 3rem auto;
}

.stats-box {
  width: 25vw;
  border-radius: 12px;
  background: #0e0d0d;
  box-shadow: 15px 15px 30px rgb(65, 129, 54);
  padding: 1rem;
  text-align: center;
  color: white;
  transition: all 0.5s ease-in-out;
}

.stats-box h2 {
  font-size: 1.8rem;
  margin: 0;
}

.stats-box p {
  font-size: 0.9rem;
  color: #c3bdbd;
  margin-top: 0.4rem;
}

/* Macro */
.macro-section {
  width: 80vw;
  margin: 3rem auto;
}

.macronutrient-grid {
  display: flex;
  gap: 0.5rem;
}

.macro-box {
  width: 19vw;
  border-radius: 12px;
  background: #122512;
  padding: 1rem;
  text-align: center;
  transition: all 0.5s ease-in-out;
}

.macro-box h4 {
  font-size: 1rem;
  color: #c9c1c1;
}

.macro-box p {
  margin-top: 0.5rem;
  font-size: 1rem;
  color: #ffffff;
}

/* Micro */
.micro-section {
  width: 80vw;
  margin: 3rem auto;
}
.heading {
  font-size: 1.3rem;
  padding: 0.7rem;
}
.micronutrient-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.micro-box {
  width: 15vw;
  border-radius: 12px;
  background: #2a0d15;
  padding: 1rem;
  text-align: center;
  transition: all 0.5s ease-in-out;
}

.micro-box h4 {
  font-size: 1rem;
  color: #c9c1c1;
}

.micro-box p {
  margin-top: 0.5rem;
  font-size: 1rem;
  color: #ffffff;
}

/* Today meal section */
.meal-page {
  width: 80vw;
  margin: 3rem auto;
  padding: 1rem;
}
.meal-section {
  color: #ffffff;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.meal-section h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.meal {
  width: 15vw;
  background: #0e0d0d;
  padding: 1rem;
  border-radius: 12px;
}

.meal h3 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.2rem;
}

.meal p {
  font-size: 0.9rem;
  margin-bottom: 0.2rem;
}

.meal-info {
  font-size: 0.8rem;
  color: #cccccc;
}

.button-space {
  width: 80vw;
  height: auto;
}

.search-input {
  width: 30vw;
  padding: 0.6rem 1rem;
  border-radius: 45px;
  border: 1px solid #555;
  background-color: #0e0d0d;
  color: #fff;
  z-index: 10;
}
.add-food-btn {
  padding: 1.3em 3em;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #fbfafa;
  background-color: #0e0d0d;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin: 0.5rem;
}

.add-food-btn:hover {
  background-color: #122512;
  color: #fff;
  transform: translateY(-7px);
}

.suggestion-box {
  position: absolute;
  background: #0e0d0d;
  height: auto;
  border-radius: 12px;
  overflow-y: auto;
  width: 30vw;
  z-index: 1000;
}

.suggestion-item {
  padding: 8px;
  cursor: pointer;
}
/* Calculator */
.floating-calc-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #000000;
  padding: 12px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1000;
}

.floating-calc-btn img{
  width: 30px;
  height: 30px;
  object-fit: cover;

}

.calc-widget {
  position: fixed;
  bottom: 80px;
  right: 20px;
  background: #000000;
  border-radius: 12px;
  width: 300px;
  padding: 1.5rem;
  z-index: 1000;
}

.calc-widget.hidden {
  display: none;
}

.calc-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: 0.6rem;
}

.calc-body label {
  display: block;
  margin-bottom: 8px;
  font-size: 0.8rem;
}

.calc-body input,
.calc-body select {
  width: 100%;
  padding: 6px;
  margin-top: 2px;
  margin-bottom: 8px;
  background-color: #0e0d0d;
  color: white;
  border-radius: 12px;
  border: none;
}

.x-btn {
  background: #000000;
  color: white;
  border: none;
  font-size: 1.5rem;
}

.cal-re-btn {
  display: flex;
}
.cal-btn {
  padding: 1.3em 3em;
  font-size: 0.6rem;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #fbfafa;
  background-color: #0e0d0d;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin: 0.5rem;
}

.calc-result {
  margin-top: 10px;
  font-size: 13px;
}
.calc-widget {
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.calc-widget.hidden {
  transform: scale(0.95);
  opacity: 0;
  pointer-events: none;
}

.delete-meal {
  background: transparent;
  border: none;
  color: #94a3b8;
  font-size: 1.2rem;
  cursor: pointer;
  margin-left: 10px;
}

footer {
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
  color: #94a3b8;
  border-top: 1px solid #1e293b;
}

/* Responsive Design */
@media screen and (min-width: 320px) and (max-width: 480px) {
  .navbar {
    flex-direction: row;
    height: 60px;
  }
  .logo {
    width: 100px;
    height: 100px;
  }

  .navbar-right {
    gap: 0.4rem;
  }
  .menu-btn {
    font-size: 0.4rem;
  }

  .profile-pic {
    width: 20px;
    height: 20px;
  }

  .stats-row {
    flex-direction: column;
    align-items: center;
    margin: 1.5rem auto;
  }

  .stats-box {
    width: 60vw;
    box-shadow: 2px 2px 10px rgb(65, 129, 54);
  }

  .stats-box h2 {
    font-size: 1.4rem;
  }

  .stats-box p {
    font-size: 0.8rem;
  }
  .macro-section {
    margin: 1.5rem auto;
  }

  .macronutrient-grid {
    flex-wrap: wrap;
    gap: 1rem;
  }

  .macro-box {
    width: 35vw;
    margin: auto;
  }

  .macro-box h4 {
    font-size: 0.9rem;
  }

  .macro-box p {
    font-size: 0.7rem;
  }

  .micro-section {
    margin: 1.5rem auto;
  }

  .micronutrient-grid {
    flex-wrap: wrap;
    gap: 1rem;
  }

  .micro-box {
    width: 35vw;
    margin: auto;
  }

  .micro-box h4 {
    font-size: 0.9rem;
  }

  .micro-box p {
    font-size: 0.7rem;
  }

  .heading {
    font-size: 1rem;
  }

  .meal-section {
    flex-direction: column;
  }

  .meal {
    width: 70vw;
    margin: auto;
  }

  .meal h3 {
    font-size: 0.9rem;
  }

  .meal p {
    font-size: 0.8rem;
  }

  .meal-info {
    font-size: 0.7rem;
  }

  .search-input {
    width: 70vw;
    margin: 0.3rem;
  }

  .button-space {
    width: 80vw;
  }
  .suggestion-box {
    width: 70vw;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .navbar {
    flex-direction: row;
    height: 60px;
  }
  .logo {
    width: 120px;
    height: 120px;
  }

  .stats-row {
    margin: 2rem auto;
  }
  .stats-box {
    width: 40vw;
    box-shadow: 10px 10px 20px rgb(65, 129, 54);
  }

  .stats-box h2 {
    font-size: 1.6rem;
  }
  .stats-box p {
    font-size: 0.9rem;
  }

  .macro-section {
    margin: 2rem auto;
  }

  .macro-box h4 {
    font-size: 1rem;
  }
  .macro-box p {
    font-size: 0.9rem;
  }

  .micro-section {
    margin: 2rem auto;
  }

  .micro-box {
    width: 19vw;
  }

  .micro-box h4 {
    font-size: 1rem;
  }

  .micro-box p {
    font-size: 0.9rem;
  }

  .meal-section {
    flex-wrap: wrap;
  }

  .meal {
    width: 35vw;
  }

  .meal h3 {
    font-size: 1rem;
  }

  .meal p {
    font-size: 0.9rem;
  }

  .meal-info {
    font-size: 0.8rem;
  }

  .search-input {
    width: 70vw;
    margin: 0.2rem;
  }
}
